{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Andy's IMDB Style API Django Rest Framework Collection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
    <style>
    .card-thumbnail {
        max-height: 250px;
        overflow: hidden;
    }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">IMDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


    <!-- Bootstrap 5 Cards in Grid -->
    <section class="bg-light py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3 text-danger bg-dark text-white text-center">Andy's IMDB Style API Django Rest Framework Collection</h2>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
                        <div class="card-thumbnail">
                            <img src="{% static 'images/logo.png' %}"  class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <p class="card-text">
          <p>This API Collection allows you to view all distribution platforms, movies and reviews.  Users can also
            create new movies and create individual reviews for a movie.</p>

                            <a href="https://www.django-rest-framework.org/" target="_blank" class="btn btn-danger">Learn More about DRF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap 5 Cards in Grid -->
    <section class="bg-light py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3 text-danger">User Guide</h2>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
                        <div class="card-thumbnail">
                            <img src="{% static 'images/authentication.jpg' %}"  class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Registration and Authenticaion</a></h3>
                            <p class="card-text">
                              <p>Click on Swagger API Documentation</p>
                              <p>Use the <strong><span class ="text-primary">/account/register/</span></strong> endpoint (Try it out) 
                                 to create a new user. (Requires a <strong><span class ="text-danger">Username, Email</span></strong> 
                                 and <strong><span class ="text-danger">Confirmed Password</span></strong>)</p>
                              </p>
                              <p>Use the <strong><span class ="text-primary">/account/login/</span></strong> 
                                endpoint (Try it out) to login which will return an authentication tokenstring. 
                                (Requires a <strong><span class ="text-danger">Username</span></strong> and <strong><span class ="text-danger">Password</span></strong>.)
                              </p>
                              <p>
                                Click on Authorize and supply the value, "Token tokenstring" - Click Authorize.
                              </p>
                            <a href="#" class="btn btn-danger">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
                        <div class="card-thumbnail">
                            <img src="{% static 'images/movie.jpg' %}" class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Create a new movie</a></h3>
            <p>Click on Swagger API Documentation.</p>
            <p>Use the <strong><span class ="text-primary">POST /watch/create-movie</span></strong> endpoint (Try it out) to create a new movie. (Only requires a <strong><span class ="text-danger">Title, Storyline</strong> and 
            <strong><span class ="text-danger">Platform</span></strong><br /><br />1 - Disney Channel <br />2 - Prime Video <br />3 - Netflix</p>
                            <a href="#" class="btn btn-danger">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card my-3">
                        <div class="card-thumbnail">
                            <img src="{% static 'images/reviews.jpg' %}" class="img-fluid" alt="thumbnail">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#" class="text-secondary">Create a review for a specific movie</a></h3>
                            <p>Click on Swagger API Documentation.</p>
                            <p>Use the <strong><span class ="text-primary">GET /watch/list/</span></strong> endpoint (Try it out) and identify the <strong><span class ="text-danger">Id</span></strong> of the movie you
                               wish to review (listed above "reviews" field)</p>
                            <p>Use the <strong><span class ="text-primary">POST /watch/{id}/review-create</span></strong> endpoint (Try  it out) to create a review. (Requires
                               a <strong><span class ="text-danger">Rating, Description</span></strong> and the <strong><span class ="text-danger">Id</span></strong> of the movie identified above.)</p>
                            <p>A user can only review each movie once!</p>
                            <a href="#" class="btn btn-danger">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Bootstrap JS -->
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>

</body>
</html>