{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Andy's API Guide{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <!-- Fixed navbar -->
    <br /><br /><br />
    <div class="container">
    <img src="{% static 'images/logo.png' %}" class="img-fluid mx-auto">
    </div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">IMDB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'schema-swagger-ui' %}">Swagger API Documentation</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-5">Andy's IMDB Style API Django Rest Framework Collection</h1>
          <br />
          <p>This API Collection allows you to view all distribution platforms, movies and reviews.  Users can also
            create new movies and create individual reviews for a movie.</p>
          <p><a class="btn btn-primary btn-lg" href="https://www.django-rest-framework.org/" role="button" target="_blank">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Registration and Authenticaion</h2>
            <p>Click on Swagger API Documentation.</p>
            <p>Use the <strong><span class ="text-primary">/account/register/</span></strong> endpoint (Try it out) to create a new user. (Requires a <strong><span class ="text-danger">Username, Email</span></strong> and <strong><span class ="text-danger">Confirmed Password</span></strong>.)</p>
            <p>Use the <strong><span class ="text-primary">/account/login/</span></strong> endpoint (Try it out) to login which will return an authentication tokenstring. (Requires a <strong><span class ="text-danger">Username</span></strong> and <strong><span class ="text-danger">Password</span></strong>.)</p>
            <p>Click on Authorize and supply the value, "Token tokenstring" - Click Authorize.</p>
          </div>
          <div class="col-md-4">
            <h2>Create a new movie</h2>
            <p>Click on Swagger API Documentation.</p>
            <p>Use the <strong><span class ="text-primary">POST /watch/create-movie</span></strong> endpoint (Try it out) to create a new movie. (Only requires a <strong><span class ="text-danger">Title, Storyline</strong> and 
            <strong><span class ="text-danger">Platform</span></strong> (1 - Disney Channel, 2 - Prime Video, 3 - Netflix.)</p>
         </div>
          <div class="col-md-4">
            <h2>Create a review for a specific movie</h2>
            <p>Click on Swagger API Documentation.</p>
            <p>Use the <strong><span class ="text-primary">GET /watch/list/</span></strong> endpoint (Try it out) and identify the <strong><span class ="text-danger">Id</span></strong> of the movie you
             wish to review (listed above "reviews" field)</p>
            <p>Use the <strong><span class ="text-primary">POST /watch/{id}/review-create</span></strong> endpoint (Try  it out) to create a review. (Requires
            a <strong><span class ="text-danger">Rating, Description</span></strong> and the <strong><span class ="text-danger">Id</span></strong> of the movie identified above.)</p>
            <p>A user can only review each movie once!</p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>


    <br />
    <center>
      <div class="centermodels">
        <h2>Model Fields</h2>
        <div class="row">
          <div class="col-md-4">
            <span class="modelname">Platform</span><br />
                name<br />
                about<br />
                website
          </div>
          <div class="col-md-4">
            <span class="modelname">Movie</span><br />
                title<br />
                storyline<br />
                platform = Platform (ForeignKey)<br />
                active<br />
                created
          </div>
          <div class="col-md-4">
            <span class="modelname">Review</span><br />
                rating (1-5)<br />
                description<br />
                watchlist = Movie (ForeignKey)<br />
                active<br />
                created<br />
                updated<br />
          </div>
        </div>
      </div>
    </center>
 
     <footer class="container">
      <p>&copy; Andy McConville 2021</p>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap core JavaScript
</body>
</html>